li {
  text-align: left;
}

input:focus {
  outline: none;
  border: solid 3px #B0CF30;
}

.task-edit-input {
  padding: 10px;
  border-radius: 24px;
  width: 70%;
  border: 0px;
  font-size: 1.1rem; 
  font-weight: bold;
  color: #6b1183; 
}
 

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(113, 10, 151);
  background-color: rgb(247, 239, 248);
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  width: 100%;
}

.task-item-text{
  width: 100%;
}

.btn-remove, .btn-update, .btn-save, .btn-cancel {
  color: white;
  width: 40px; 
  height: 40px; 
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
  font-size: 35px;
}

.btn-update {
  background-color: #05c35e;
}

.btn-update:hover {
  background-color: #069147;
  transition: 0.5s;
}

.btn-remove {
  background-color: #fd2323;
}

.btn-remove:hover {
  background-color: #dc0505;
  transition: 0.3s;
}

.btn-save {
  background-color: #0b7dc0;
}

.btn-save:hover {
  background-color: #104e90;
  transition: 0.3s;
}

.btn-cancel {
  background-color: #71744d;
}

.btn-cancel:hover {
  background-color: #3b3e1d;
  transition: 0.3s;
}

@media screen and (max-width: 480px) {
  .task-item-text{
    padding: 0;
    font-size: 1rem;
  } 

  .task-item {
    gap: 1rem;
  }

  .btn-update {
    height: auto;
    font-size: 25px;
  }

  .btn-remove {
    border-radius: 50%;
    width: 45px;
    height: 35px;
    font-size: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
}

@media (max-width: 320px){
  .task-item-text{ 
    font-size: .9rem;
  }
 
}




