li {
  text-align: left;
}

.task-edit-input {
  padding: 10px;
  border-radius: 24px;
  width: 70%;
  border: 0px;
  font-size: 1.1rem; 
  font-weight: bold;
  color: var(--color-text-tasks);
}

.task-edit-input:focus {
  outline: none;
  border: solid 3px var(--color-input-hover);
}
 
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-tasks);
  background-color: var(--color-input-task-item);
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 10px;
  gap: 2rem;
}

.task-item-text{
  width: 100%;
}

.btn-remove, .btn-update, .btn-save, .btn-cancel {
  color: var(--color-secondary);
  width: 40px; 
  height: 40px; 
  border-radius: 20%;
  cursor: pointer;
  border: 0px;
  font-size: 35px;
}

.btn-save {
  display: flex;
  align-items: center;
}

 .btn-cancel {
  font-size: 30px;
}

.btn-update, .btn-save {
  background-color: var(--color-button-update-save);
}

.btn-update:hover, .btn-save:hover {
  background-color: var(--color-button-hover-update-save);
  transition: 0.5s;
}

.btn-remove, .btn-cancel {
  background-color: var(--color-button-delete-cancel);
}

.btn-remove:hover, .btn-cancel:hover {
  background-color: var(--color-button-hover-delete-cancel);
  transition: 0.3s;
}

@media screen and (max-width: 480px) {
  .task-item {
    gap: .8rem;
  }

  .task-item-text{
    padding: 0;
    font-size: 1rem;
  } 

  .btn-update, .btn-save, .btn-cancel, .btn-remove {
    height: auto;
    font-size: 25px;
    width: 30px;
  }

  .btn-save {
    display: inline-block;
  }

  .btn-remove {
    border-radius: 50%;
    width: 45px;
    height: 35px;
    font-size: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
}

@media (max-width: 320px){
  .task-item-text{ 
    font-size: .9rem;
  }
}




