@import '../../styles/variables.css';

.task-form {
  display: flex;
  gap: 1rem;
  width: 75%;
}

.task-add-input {
  padding: 10px;
  background-color: var(--color-input-new-task);
  border-radius: 24px;
  border: 0px;
  margin-bottom: 2rem;
  color: var(--color-text-tasks);
  text-align: left;
  font-size: 1.1rem; 
  font-weight: bold;
  height: 55px;
  width: 100%;
}

.task-add-input:focus {
  outline: none;
  border: solid 3px var(--color-input-hover);
}

.add-task-button {
  padding: 6px 10px;
  background-color: var(--color-button-add-task);
  text-transform: uppercase;
  color: var(--color-secondary);
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 60%;
  font-size: 35px;
  cursor: pointer;
  border: 0px;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: var( --color-button-add-hover);
  box-shadow: 0px 16px 18px var(--color-shadow);
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

::placeholder {
  color: var(--color-placeholder);
  text-align: center;
  font-size: .9rem;
}

@media screen and (max-width: 480px) {
  .task-form {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    width: 85%;
  }

  .add-task-button {
    width: 50%;
    align-self: center;
    margin-bottom: 1rem;
    border-radius: 5%;
  }

  .add-task-button:hover {
    width: 55%;
    transition: 0.3s;
  }

  @media (max-width: 320px){
    .task-form{
      width: 80%;
    }
  }
}



